<img class="image" src="/image/7676.png">

<div class="welcome">
	<h2 id="story1" >
		<p>더 이상 전화가 울리지 않는 것 같다.</p>
		<p>그때 갑자기 문을 두드리는 소리가 들린다.</p> 
		<p>소리가 점점 커진다. 무서워진 재윤은 독서실</p>
		<p>문쪽으로 간다. 그때 전화가 울린다. 얼떨결에</p>
		<p>재윤은 전화를 받는다. 경비 아저씨다.</p>
		<p>아저씨는 무슨 일이 있어도 문을 열어주면</p>
		<p>안된다고 말하고 전화를 끊는다. 그때,</p>
		<p>문 밖에서 섬뜩할 만큼 가는 목소리로 ‘문 좀 열어주세요’</p>
		<p>라고 누군가 말한다. 그래서 재윤은____</p>
	</h2>
</div>

<div class="top_button">
	<p><a class="btn btn-danger btn-lg" href="/welcome/pict_8" role="button">문을 열어준다</a></p>
</div>
<div class="bottom_button">
	<p><a class="btn btn-danger btn-lg" href="/welcome/pict_9" role="button">문을 열지 않는다</a></p>
</div>