<img class="image" src="/image/4_5_6_7.png">

<div class="welcome">
	<h2 id="story1">
		<p>그때 또각또각 구두소리와 함께, 섬뜩할 만큼 가는 목소리로</p>
		<p>‘문 좀 열어주세요’라는 소리가 들다. 그래서 나는____</p>
	</h2>
</div>

<div id="button2">
	<div class="top_button">
		<p><a class="btn btn-danger btn-lg" href="/welcome/pict8" role="button">문을 열어준다</a></p>
	</div>
	<div class="bottom_button">
		<p><a class="btn btn-danger btn-lg" href="/welcome/pict9" role="button">문을 열지 않는다</a></p>
	</div>
</div>