<img src="/image/7676.png" width=100% height=720px>

<div style="position: fixed; right: 150px; top: 400px;">
	<div class="welcome">
        <h2 id="greet4" ></h2>
  </div>
</div>

<div style="position: fixed; right: 120px; bottom: 140px;">
	<p><a class="btn btn-primary btn-lg" href="/welcome/pict_8" role="button">문을 열어준다</a></p>
</div>
<div style="position: fixed; right: 120px; bottom: 80px;">
	<p><a class="btn btn-primary btn-lg" href="/welcome/pict_9" role="button">문을 열지 않는다</a></p>
</div>