<img src="/image/7676.png" width=100% height=720px>

<div class="welcome">
  <h2 id="story1" >
  	<p>재윤은 천천히 독서실로 올라간다. 그런데 갑자기 뒤에서 또각또각 구두소리가 난다.</p>
  	<p>이상한 낌새를 눈치 챈 재윤은 걸음을 멈춘다. 그때 또각또각 소리도 멈춘다.</p>
  	<p>재윤은 다시 걷기 시작한다. 다시 구두소리가 난다. 무서워진 재윤은 뛰기 시작한다.</p>
  	<p>또각또각 소리도 빨라진다. 재윤은 독서실 문을 열고 바로 문을 닫는다. 그때 전화가 울린다.</p> 
  	<p>얼떨결에 재윤은 전화를 받는다. 경비 아저씨다. 아저씨는 무슨 일이 있어도 문을 열어주면</p>
  	<p>안된다고 말하고 전화를 끊는다. 그때, 문 밖에서 섬뜩할 만큼 가는 목소리로 ‘문 좀 열어주세요’</p>
  	<p>라고 누군가 말한다. 그래서 재윤은____</p>
  </h2>
</div>

<div class="top_button">
	<p><a class="btn btn-primary btn-lg" href="/welcome/pict_8" role="button">문을 열어준다.</a></p>
</div>
<div class="bottom_button">
	<p><a class="btn btn-primary btn-lg" href="/welcome/pict_9" role="button">문을 열지 않는다.</a></p>
</div>