<img class="image" src="/image/7676.png">

<div class="welcome">
  <h2 id="story1" >
  	<p>나는 천천히 독서실 계단을 올라갔다.</p>
    <br>
    <p>"또각또각"</p>
    <br>
    <p>그런데 갑자기 뒤에서 또각또각 구두소리가 들렸다.</p>
    <p>누구지? 분명 경비 아저씨 밖에 없었는데.</p>
    <p>이상한 느낌을 받은 나는 걸음을 멈췄다.</p>
    <p>그리고 또각거리는 구두소리도 멈췄다.</p>
  </h2>
  <h2 id="story2">
    <p>잘 못 들었나? 나는 다시 걸음을 옮겼다.</p>
    <p>그때 또각거리는 소리가 다시 났다.</p>
    <p>마치 나를 따라오는 것 같았다.</p>
    <p>무서워진 나는 뛰기 시작했다.</p>
    <p>"또각또각또각또각" 구두소리도 크고 빨라졌다.</p>
  </h2>
  <h2 id="story3">
    <p>독서실에 도착하자마자 나는 문을 열고 바로 닫았다.</p>
    <p>그리고 문에 기대서 안도의 한숨을 내쉬었다. 그 때였다.</p>
    <p>문 밖에서 섬뜩할 만큼 가는 목소리로 ‘문 좀 열어주세요’</p>
  	<p>라고 누군가 말한다. 그래서 나는____</p>
  </h2>
</div>

<div id="button">
  <div class="top_button">
  	<p><a class="btn btn-danger btn-lg" href="/welcome/pict8" role="button">문을 열어준다.</a></p>
  </div>
  <div class="bottom_button">
  	<p><a class="btn btn-danger btn-lg" href="/welcome/pict9" role="button">문을 열지 않는다.</a></p>
  </div>
</div>