<img src="/image/3333.png" width=100% height=720px>

<div class="welcome">
  <h2 id="story1" >
  	<p>똑똑 거리는 소리가 사라진다. 정적이 흐른다. 재윤은 무서움을 느낀다.</p>
  	<p>그래서 어떻게든 이 상황을 벗어나고 싶다. 그래서 재윤은___</p>
  </h2>
</div>

<div class="top_button">
	<p><a class="btn btn-primary btn-lg" href="/welcome/pict_12" role="button">문을 열고 밖으로 나간다</a></p>
</div>
<div class="bottom_button">
	<p><a class="btn btn-primary btn-lg" href="/welcome/pict_10" role="button">독서실 안 쪽 방으로 들어간다</a></p>
</div>
