<img class="image" src="/image/7676.png">

<div class="welcome">
	<h2 id="story1" >
		<p>아저씨는 다급한 목소리로 누가 문을 열어주라고 해도</p>
		<p>열어주면 안된다고 말한다. 재윤은 무서워진다.</p>
		<p>그래서 방의 짐을 싸고 집으로 가려고 하는 순간,</p>
		<p>또각또각 구두소리가 난다. 그리고 섬뜩할 만큼 가는,</p>
		<p>‘문 좀 열어주세요’라는 소리가 들린다. 그래서 재윤은____</p>
	</h2>
</div>

<div class="top_button">
	<p><a class="btn btn-danger btn-lg" href="/welcome/pict_8" role="button">문을 열어준다</a></p>
</div>
<div class="bottom_button">
	<p><a class="btn btn-danger btn-lg" href="/welcome/pict_9" role="button">문을 열지 않는다</a></p>
</div>