<img src="/image/123.png" width=100% height=720px>

<div class="welcome">
  <h2 id="story1" >
  	<p><big>#1. 서막</big></p>
  	<p>재윤은 독서실에서 자다가 일어났다.</p>
  	<p>지금은 새벽 2시. 다른 학생들은 모두 집에 갔다.</p>
  	<p>재윤이 다니는 독서실은 3,4층에 위치했다.</p>
  	<p>카운터는 3층, 독서실은 4층에 있었다. 피곤한 재윤은_____</p>
  </h2>
</div>

<div class="top_button">
	<p><a class="btn btn-primary btn-lg" href="/welcome/pict_2" role="button">좀 더 남아 공부하기로 했다</a></p>
</div>
<div class="bottom_button">
	<p><a class="btn btn-primary btn-lg" href="/welcome/pict_3" role="button">집에 가기로 했다</a></p>
</div>