<img class="image" src="/image/4_5_6_7.png">

<div class="welcome">
  <h2 id="story1" >
  	<p>"미안하네 학생. 하지만 나는 함께 가지 못할 것 같아.</p>
    <p>대신 열쇠를 건네 주겠네. 시간이 늦었으니 빨리 갔다와."</p>
    <p>어쩔 수 없이 나는 혼자 독서실로 올라갔다.</p>
    <br>
    <p>"또각또각"</p>
  <h2 id="story2">
    <p>잘 못 들었나? 나는 다시 걸음을 옮겼다.</p>
    <p>그때 또각거리는 소리가 다시 났다.</p>
    <p>마치 나를 따라오는 것 같았다.</p>
    <p>무서워진 나는 뛰기 시작했다.</p>
    <p>"또각또각또각또각" 구두소리도 크고 빨라졌다.</p>
  </h2>
  <h2 id="story3">
    <p>독서실에 도착하자마자 나는 문을 열고 바로 닫았다.</p>
    <p>그리고 문에 기대서 안도의 한숨을 내쉬었다. 그 때였다.</p>
    <p>문 밖에서 섬뜩할 만큼 가는 목소리로 ‘문 좀 열어주세요’</p>
    <p>라고 누군가 말한다. 그래서 나는____</p>
  </h2>
</div>

<div id="button">
  <div class="top_button">
  	<p><a class="btn btn-danger btn-lg" href="/welcome/pict8" role="button">문을 열어준다.</a></p>
  </div>
  <div class="bottom_button">
  	<p><a class="btn btn-danger btn-lg" href="/welcome/pict9" role="button">문을 열지 않는다.</a></p>
  </div>
</div>