<img class="image" src="/image/2.png">

<div class="welcome">
  <h2 id="story1" >
	  <p>하지만 그때, 경비 아저씨가 들어왔다.</p>
	  <br>
	  <p>"학생 이제 독서실 문 닫아. 어서 집에 돌아가"</p>
	  <br>
	  <p>하지만 나는 공부를 해야 했다. 그래서 아저씨에게</p>
	  <p>조금만 더 공부하다 갈 수 없는지 물었다.</p>
	</h2>
	<h2 id="story2">
	  <p>아저씨는 한 숨을 푹 내쉬었다.</p>
	  <br>
	  <p>"알았어, 그러면. 대신 먼저 가볼테니 문 단속 잘하게나!"</p>
	  <br>
	  <p>아저씨는 내게 열쇠를 건네 주고 독서실 밖으로 나갔다.</p>
	  <p>아무도 없는 독서실은 공부하기에 최적의 공간이다.</p>
	  <p>만족스럽다. 이제 열심히 공부할 시간이다.</p>
	</h2>
	<h2 id="story3">
	  <p>"따르르르릉!" 그때 전화가 왔다.</p>
	  <p>처음에는 그냥 무시했다. 혼자 울리다가 그칠 거라 생각했다.</p>
	  <p>하지만 전화는 계속해서 울렸다. 두 번, 세 번, 네 번.</p>
	  <p>더는 공부할 수 없을 것 같았다. 그래서 나는_____</p>
  </h2>
</div>

<div id="button">
	<div class="top_button">
		<p><a class="btn btn-danger btn-lg" href="/welcome/pict4" role="button">전화를 받는다</a></p>
	</div>

	<div class="bottom_button">
		<p><a class="btn btn-danger btn-lg" href="/welcome/pict5" role="button">전화를 무시한다</a></p>
	</div>
</div>