<img class="image" src="/image/77.png">

<div class="welcome">
  <h2 id="story1" >
  	<p>문 밖에는 교복 차림의 여학생이 서 있었다.</p>
  	<p>맨 발차림의 그녀는 이상하리만큼 옷이 깔끔했다.</p>
  	<p>몽환적인 미소 때문에, 어둠 속 그녀는 더욱 더 기괴해 보였다.</p>
  </h2>
  <h2 id="story2">
  	<p>"까딱까딱"</p>
  	<br>
  	<p>나에게 그녀는 손짓했다.</p>
  	<p>가까이 오라는 것 같았다.</p>
  </h2>	
  <h2 id="story3">
  	<p>너무 무서워서 기절할 것 같았다.</p>
  	<p>하지만 피곤해서일까, 나는 어느 순간부터 앞으로</p>
  	<p>몸을 움직이고 있었다. 천천히 천천히 몸을 움직이던 나는____</p>
  </h2>
</div>

<div id="button">
	<div class="top_button">
		<p><a class="btn btn-danger btn-lg" href="/welcome/pict11" role="button">계속해서 가까이 갔다.</a></p>
	</div>
	<div class="bottom_button">
		<p><a class="btn btn-danger btn-lg" href="/welcome/pict6" role="button">더 이상 가까이 가지 않았다.</a></p>
	</div>
</div>