<img class="image" src="/image/1.png">

<div class="welcome">
  <h2 id="story1" >
    <p><big><big><bold>서막</bold></big></big></p> 
    <p>독서실 괴담</p>
  </h2>
  <h2 id="story2" >
    <p>"하암"</p> 
  	<p>기지개를 폈다. 스탠드의 불빛에 눈이 부시다.</p>
    <p>또 잠이 들었던 건가. 시계를 봤다. 새벽 두시이다.</p>
    <p>몇 시간 전까지, 함께 공부하고 있던 다른 학생들은 모두 집에 갔다.</p>
  </h2>
  <h2 id="story3">
    <p>몹시 피로하다. 마음 같아서는 지금 당장이라도 집에 가고 싶다.</p>
    <p>하지만 시험이 마음에 걸린다. 다음 학기 장학금을 받기 위해서는</p>
    <p>내일 있는 시험은 매우 중요하다. 어떻게 해야하나 갈등하던 중, 나는___</p>
  </h2>
</div>

<div id="button">
	<div class="top_button">
		<p><a class="btn btn-danger btn-lg" href="/welcome/pict2" role="button">좀 더 남아 공부하기로 했다</a></p>
	</div>
  
	<div class="bottom_button">
		<p><a class="btn btn-danger btn-lg" href="/welcome/pict3" role="button">집에 가기로 했다</a></p>
	</div>
</div>