<img src="/image/3333.png" width=100% height=720px>

<div class="welcome">
  <h2 id="story1" >
  	<p>문 밖에서 화사한 차림의 예쁜 여자가 서 있다. 몽환적인 분위기를 풍기는 그녀는</p>
  	<p>입가에 미소를 짓고 있다. 그녀는 재윤에게 손가락을 ‘까딱까딱’하며 가까이 오라고</p>
  	<p>손짓한다. 그래서 재윤은____</p>
  </h2>
</div>

<div class="top_button">
	<p><a class="btn btn-danger btn-lg" href="/welcome/pict_11" role="button">가까이 간다.</a></p>
</div>
<div class="bottom_button">
	<p><a class="btn btn-danger btn-lg" href="/welcome/pict_6" role="button">가까이 가지 않는다.</a></p>
</div>
