<img class="image" src="/image/4.png">

<div class="welcome">
	<h2 id="story1" >
		<p>"학생! 학생!!! 혹시 지금 누구 안 왔나?"</p>
		<p>경비 아저씨는 다급한 목소리로 말했다.</p>
		<p>어리둥절한 목소리로 나는 아무도 오지 않았다고 답했다.</p>
		<p>"후우..." 아저씨는 한숨을 내쉬고 떨리는 목소리로 덧붙였다.</p>
	</h2>
	<h2 id="story2">
		<p>"학생 내가 오늘 금요일인 줄 모르고 큰 실수를 했어</p>
		<p>만약 누가 찾아오더라도 절대로 문을 열어주면 안 되네!!"</p>
		<p>그러고는 아저씨는 전화를 끊었다.</p>
		<p>무슨 일인거지? 이 밤중에 누가 온다는 거지?</p>
		<p>무서워진 나는 짐을 싸고 밖으로 나가려고 했다.</p>
	</h2>
	<h2 id="story3">
		<p>무슨 일인거지? 이 밤중에 누가 온다는 거지?</p>
		<p>무서워진 나는 짐을 싸고 밖으로 나가려고 했다.</p>
	</h2>
</div>

<div id="button">
	<div class="top_button">
		<p><a class="btn btn-danger btn-lg" href="/welcome/pict4567_1" role="button">다음</a></p>
	</div>
</div>