<img class="image" src="/image/8.png">

<div class="welcome">
	<h2 id="story1">
	  <p>"따르르르릉!" 그때 전화가 왔다.</p>
	  <p>처음에는 그냥 무시했다. 혼자 울리다가 그칠 거라 생각했다.</p>
	  <p>하지만 전화는 계속해서 울렸다. 두 번, 세 번, 네 번.</p>
	  <p>더는 공부할 수 없을 것 같았다. 그래서 나는_____</p>
  </h2>
</div>

<div id="button2">
	<div class="top_button">
		<p><a class="btn btn-danger btn-lg" href="/welcome/pict4" role="button">전화를 받는다</a></p>
	</div>

	<div class="bottom_button">
		<p><a class="btn btn-danger btn-lg" href="/welcome/pict5" role="button">전화를 무시한다</a></p>
	</div>
</div>