<img class="image" src="/image/2.png">

<div class="welcome">
  <h2 id="story1" >
  	<p>서둘러 나는 독서실 안 쪽 방으로 갔다.</p>
    <p>그리고 너무 무서워서 한쪽 구석에 웅크리고 앉았다.</p>
    <p>무서움과 피곤함 때문일까, 앉자마자 졸음이 쏟아졌다.</p>
  </h2>
  <h2 id="story2">
    <p>하지만 갑자기 찬 공기가 얼굴에 닿았다.</p>
    <p>시험을 앞두고, 혹시나 감기가 들까 두려웠던</p>
    <p>나는 찬 바람이 들어온 곳이 찾으면서 두리번 거렸다.</p>
  </h2>
  <h2 id="story3">
    <p>그때 창문 쪽에서 ’똑똑, 똑똑’ 하는 소리가 들린다.</p>
    <p>자세히 보니 창문 밖에서 손가락 2개가 창문 난간을 두드리고 있었다.</p>
  	<p>너무 놀란 나는 ‘헙!’하는 소리를 낸다.</p>
    <p>그러자 창문 밖 손가락 2개가 나를 향해</p> 
  	<p>가까이 오라며 ‘까딱까딱’ 손짓을 했다. 그래서 나는____</p>
  </h2>
</div>

<div id="button">
  <div class="top_button">
  	<p><a class="btn btn-danger btn-lg" href="/welcome/pict13" role="button">가까이 갔다</a></p>
  </div>
  <div class="bottom_button">
  	<p><a class="btn btn-danger btn-lg" href="/welcome/pict14" role="button">화장실로 도망갔다</a></p>
  </div>
</div>