<img class="image" src="/image/7676.png">

<div class="welcome">
	<h2 id="story1" >
		<p>더 이상 전화가 울리지 않았다.</p>
		<p>그래서 나는 이제 마음 놓고 공부하려고 자세를 잡는 순간,</p>
		<br>
		<p>"똑똑똑똑"</p>
		<br>
		<p>먼 곳에서 문을 두드리는 소리가 들렸다.</p>
	</h2>
	<h2 id="story2">
		<p>이 밤중에 누구지? 무서워진 나는 소리가 나는 곳으로 다가갔다.</p>
		<p>소리는 점점 더 빨라지고 커졌다. 천천히, 하지만 꾸준히 소리는 독서실을 울렸다.</p>
		<p>소리가 나는 문 앞으로 갈 때쯤은, 주먹으로 문을 두드리는 것 같았다.</p>
	</h2>
	<h2 id="story3">
		<p>문에 가까워지자, 두드리는 소리는 줄어들었다.</p>
		<p>그리고 섬뜩할 만큼 가는 목소리로 ‘문 좀 열어주세요’라는 소리가 들렸다.</p>
		<p>그래서 나는____</p>
	</h2>
</div>

<div id="button">
	<div class="top_button">
		<p><a class="btn btn-danger btn-lg" href="/welcome/pict8" role="button">문을 열어준다</a></p>
	</div>
	<div class="bottom_button">
		<p><a class="btn btn-danger btn-lg" href="/welcome/pict9" role="button">문을 열지 않는다</a></p>
	</div>
</div>