<img src="/image/7777.png" width=100% height=720px>

<div class="welcome">
  <h2 id="story1" >
  	<p>집에 가는 길, 재윤은 공부 내용을 정리한 노트를 두고왔다는 것을 깨닫는다.</p>
  	<p>왔던 길을 돌아간다. 독서실 앞, 재윤은 독서실 문을 닫고 퇴근하려는 경비 아저씨와 마주한다</p>
  	<p>안으로 들어가려고 하지만, 경비 아저씨가 극구 말린다. 이유를 물어보지만 대답하지 않는다. 재윤은 무서워진다.</p>
  </h2>
</div>

<div style="position: fixed; right: 120px; bottom: 140px;">
	<p><a class="btn btn-primary btn-lg" href="/welcome/pict_6" role="button">그래도 혼자 독서실 안으로 들어간다</a></p>
</div>
<div style="position: fixed; right: 120px; bottom: 80px;">
	<p><a class="btn btn-primary btn-lg" href="/welcome/pict_7" role="button">그래서 아저씨한테 함께 들어가자고 부탁한다</a></p>
</div>