<img class="image" src="/image/9.png">

<div class="welcome">
  <h2 id="story1" >
  	<p>똑똑 거리는 소리가 사라졌다.</p>
  	<p>그리고 정적이 흘렀다.</p>
  	<p>나는 무서움을 느꼈다.</p>
  </h2>
  <h2 id="story2">
  	<p>"쾅쾅쾅쾅!!!!"</p>
  	<br>
  	<p>그 때 갑자기 문 두드리는 소리가 커졌다.</p>
  	<br>
  	<p>"문 열어 이 새끼야!!!</p>
  	<p>너 거기 있는 거 다 알아!!!"</p>
  	<p>공기를 찢는 것 같은 목소리가 독서실을 울렸다.</p>
	</h2>
	<h2 id="story3">
		<p>나는 너무 무서웠다.</p>
		<p>숨이 가빠지고 머릿속이 혼란스러워졌다.</p>
  	<p>어떻게든 이 상황을 벗어나고 싶었다. 그래서 나는____</p>
	</h2>
</div>

<div id="button">
	<div class="top_button">
		<p><a class="btn btn-danger btn-lg" href="/welcome/pict12" role="button">문을 열고 밖으로 나간다</a></p>
	</div>
	<div class="bottom_button">
		<p><a class="btn btn-danger btn-lg" href="/welcome/pict10" role="button">독서실 안 쪽 방으로 들어간다</a></p>
	</div>
</div>