<img src="/image/4321.png" width=100% height=720px>

<div class="welcome">
  <h2 id="story1" >
	  <p>경비 아저씨는 문을 닫아야 한다고 말한다.</p>
	  <p>그러나 다음 주 시험을 위해 좀더 공부해야 한다.</p> 
	  <p>재윤은 아저씨한테 부탁한다. 아저씨는 한 숨을 쉬더니, 그러면 자신은 먼저 가볼테니 문단속 잘하라고 당부한다.</p>
	  <p>아저씨가 떠난 후, 재윤은 독서실에 혼자 앉아서 열심히 공부한다. 그때 전화가 울린다.</p>
	  <p>재윤은 처음에는 무시한다. 그러나 전화는 계속해서 울린다. 소리가 시끄러웠던 재윤은____</p>
  </h2>
</div>

<div class="top_button">
	<p><a class="btn btn-primary btn-lg" href="/welcome/pict_4" role="button">전화를 받는다</a></p>
</div>

<div class="bottom_button">
	<p><a class="btn btn-primary btn-lg" href="/welcome/pict_5" role="button">전화를 무시한다</a></p>
</div>