<img class="image" src="/image/3.png">

<div class="welcome">
  <h2 id="story1" >
  	<p>집에 가는 길, 밤 공기가 유난히 차갑게 느껴진다</p>
  	<p>그때 뭔가 허전함을 느낀다. 기시감이 온 몸을 엄습한다.</p>
    <p>부리나케 가방 안을 뒤져본다. 핸드폰, 필통 등 하나하나 확인한다.</p>
  </h2>
  <h2 id="story2">
    <p>그때 나는 공부 내용을 정리한 노트를 두고왔다는 것을 깨닫는다.</p>
  	<p>그 노트는 내일 시험을 위해 반드시 필요하다.</p>  
    <p>결국 나는, 왔던 길을 돌아가기로 결정했다.</p>
    <p>독서실 앞 경비 아저씨가 독서실 문을 닫고 퇴근하려고 하고 있다.</p>
  </h2>  
  <h2 id="story3">  
    <p>경비 아저씨에게, 나는 잠깐만 기다려달라고 말했다.</p>
    <p>그리고 독서실 계단으로 오르려고 하는 순간, 아저씨는</p>
    <p>"가지마! 지금 독서실에 들어가면 안돼!" 라고 고함을 친다.</p>
    <p>그 모습에 나는 무서워졌지만 _____</p>
  </h2>
</div>

<div id="button">
	<div class="top_button">
		<p><a class="btn btn-danger btn-lg" href="/welcome/pict6" role="button">그래도 혼자 독서실 안으로 들어간다</a></p>
	</div>
	<div class="bottom_button">
		<p><a class="btn btn-danger btn-lg" href="/welcome/pict7" role="button">그래서 아저씨한테 함께 들어가자고 부탁한다</a></p>
	</div>
</div>