// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.welcome{
  justify-content: center;
  text-align: bottom;
  color: #CD4646;
  left: 200px;
  position: fixed;
  top: 100px;
  font-style: oblique;
}

.image{
	width: 100%;
	height: 800px;
}

.top_button{
 	position: fixed;
	right: 120px;
	bottom: 140px;
  font-style: oblique;
  font-family: "Times New Roman", Times, serif;
  font-size: 30px;
}

.bottom_button{
	position: fixed;
	right: 120px;
	bottom: 80px;
  font-style: oblique;
  font-family: "Times New Roman", Times, serif;
  font-size: 30px;
}