// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.welcome{
	  justify-content: center;
    text-align: bottom;
		text-align: center;
    color: #CD4646;
}

